.gitignore
.git
.gitattributes
.github/
.benchmarks/
.flake8
.pre-commit-config.yaml
pyproject.toml
requirements.dev.txt
README.md
tests/
nbs/
data/
__pycache__/
**/__pycache__
.DS_Store
**/.DS_Store
